<!-- Page Content -->
<div class="content container-fluid">
  <!-- Page Header -->
  <div class="page-header">
      <div class="row align-items-center">
          <div class="col">
              <h3 class="page-title">{{'users.label.user' | translate}}</h3>
              <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="javascript:">{{'users.label.user' | translate}}</a></li>
                  <li class="breadcrumb-item active">{{'users.label.lstUser' | translate}}</li>
              </ul>
          </div>
      </div>
  </div>
  <!-- /Page Header -->



  <div class="row col-md-12">
     <div class="col-sm-4">
        <!-- <div class="form-group">
          <input type="text" class="form-control form-control-sm"  placeholder="{{'common.label.searchNameThere' | translate}} ...">
        </div> -->

      </div>

      <div class="col-sm-4 float-right">
        <div class="form-group">
          <select class="form-control show-tick form-control-sm">
            <option data-select2-id="3">Select Warehose</option>
            <option data-select2-id="9">Warehouse 1</option>
            <option data-select2-id="10">Warehouse 2</option>
          </select>
        </div>

      </div>



      <div class="col-sm-4 float-right">
        <div class="form-group">
          <input type="text" class="form-control form-control-sm"  placeholder="{{'common.label.searchNameThere' | translate}} ...">
        </div>
        <!-- <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Filter
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div> -->
      </div>

  </div>



  <div class="row col-md-12" style="height: 500px;">
    <ag-grid-angular
    style="width: 100%; height: 100%;"
    class="ag-theme-alpine"
    [columnDefs]="columnDefs"
    [autoGroupColumnDef]="autoGroupColumnDef"
    [defaultColDef]="defaultColDef"
    [suppressRowClickSelection]="true"
    [groupSelectsChildren]="true"
    [rowSelection]="rowSelection"
    [rowGroupPanelShow]="rowGroupPanelShow"
    [pivotPanelShow]="pivotPanelShow"
    [enableRangeSelection]="true"
    [pagination]="true"
    [rowData]="rowData"
    (gridReady)="onGridReady($event)"
  ></ag-grid-angular>
  </div>
</div>
