<div class="account-content">

  <div class="container">

      <!-- Account Logo -->
      <div class="account-logo">
          <a href="javascript:"><img src="assets/img/logo2.png" alt="Dreamguy's Technologies"></a>
      </div>
      <!-- /Account Logo -->

      <div class="account-box">
          <div class="account-wrapper">
              <h3 class="account-title">{{'login.label.login' | translate}}</h3>
              <p class="account-subtitle">{{'login.label.accessToOurSystem' | translate}}</p>

              <!-- Account Form -->
              <form #form="ngForm">

                <div class="form-row row">
                  <div class="form-group col-md-12">
                    <label class="font-khmer-cursive">{{'login.label.userName' | translate}}</label>
                    <span class="text-danger">*</span>
                    <input type="text" id="userName" name="userName" #userName="ngModel" [(ngModel)]="auth.userName" placeholder="Enter your first name" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="userName.invalid && (userName.dirty || userName.touched)">

                      <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="invalid-feedback">
                        <div *ngIf="userName.errors?.['required']">
                          This first name is required.
                        </div>
                        <!-- <div *ngIf="userName.errors?.['minlength']">
                          This first name must have at least 1 character.
                        </div>
                        <div *ngIf="userName.errors?.['maxlength']">
                          This first name must have at most 250 characters.
                        </div> -->
                      </div>
                  </div>
                </div>

                <div class="form-row row">
                  <div class="form-group col-md-12">
                    <label class="font-khmer-cursive">{{'login.label.password' | translate}}</label>
                    <span class="text-danger">*</span>
                    <input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="auth.password" placeholder="Enter your password" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="password.invalid && (password.dirty || password.touched)">

                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                      <div *ngIf="password.errors?.['required']">
                        This first name is required.
                      </div>
                    </div>
                  </div>
                </div>

                <div class="form-group text-center">
                  <button class="btn btn-primary account-btn btn-login" type="button" (click)="onLogin(form)">
                    <!-- <span class = "scroll-load-vd login" *ngIf = "submitted && isValidLoading">
                      <img src="assets/img/loading.gif" alt="" style = "width: 100%;height: 100%;">
                    </span> -->
                    <span>Login</span>
                    <i class="fa fa-sign-in i-con" aria-hidden="true"></i>
                  </button>
                </div>

              </form>
              <!-- /Account Form -->

          </div>
      </div>
  </div>
</div>
