<!-- Page Content -->
<div class="content container-fluid">

  <div class="page-header">
    <div class="row">
      <div class="col-sm-12">
        <h3 class="page-title">Leave Settings</h3>
        <ul class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active">Leave Settings</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card leave-box">
          <div  class="card-body">
            <div class="row clearfix">
              <form #formUser="ngForm">

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label >First Name <span class="text-danger">*</span></label>
                      <input type="text" id="firstName" name="firstName" #firstName="ngModel" [(ngModel)]="userInfo.firstName" placeholder="Enter your first name" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="firstName.invalid && (firstName.dirty || firstName.touched)">

                      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="invalid-feedback">
                        <div *ngIf="firstName.errors?.['required']">
                          This first name is required.
                        </div>
                        <div *ngIf="firstName.errors?.['minlength']">
                          This first name must have at least 1 character.
                        </div>
                        <div *ngIf="firstName.errors?.['maxlength']">
                          This first name must have at most 250 characters.
                        </div>
                        <!-- <span>{{firstName.value}}, {{firstName.invalid}}</span> -->
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label >Last Name <span class="text-danger">*</span></label>
                      <input type="text" id="lastName" name="lastName" #lastName="ngModel" [(ngModel)]="userInfo.lastName" placeholder="Enter your last name" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="lastName.invalid && (lastName.dirty || lastName.touched)">
                      <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="invalid-feedback">
                        <div *ngIf="lastName.errors?.['required']">
                          This last name is required.
                        </div>
                        <div *ngIf="lastName.errors?.['minlength']">
                          This last name must have at least 1 character.
                        </div>
                        <div *ngIf="lastName.errors?.['maxlength']">
                          This last name must have at most 250 characters.
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label >Gender <span class="text-danger">*</span></label>
                      <select required class="form-control show-tick form-control-sm" id="gender" name="gender" #gender="ngModel" [(ngModel)]="userInfo.gender" class="form-control form-control-sm" [class.is-invalid]="userInfo.gender === undefined  &&  gender.touched">
                        <option value="M">Male</option>
                        <option value="F">Female</option>
                      </select>
                      <div *ngIf="userInfo.gender=== undefined && gender.touched === true" class="invalid-feedback">
                        <div *ngIf="dateBirth.errors?.['required']">
                          This gender is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label >Date Birth <span class="text-danger">*</span></label>
                      <input type="date" id="dateBirth" name="dateBirth" #dateBirth="ngModel" [(ngModel)]="userInfo.dateBirth" placeholder="Enter your last name" required minlength="1" maxlength="250" emailValidator class="form-control form-control-sm" [class.is-invalid]="dateBirth.invalid && (dateBirth.dirty || dateBirth.touched)">
                      <div *ngIf="dateBirth.invalid && (dateBirth.dirty || dateBirth.touched)" class="invalid-feedback">
                        <div *ngIf="dateBirth.errors?.['required']">
                          This Date Birth is required.
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label >Role <span class="text-danger">*</span></label>
                      <select required class="form-control show-tick form-control-sm" id="roleId" name="roleId" #roleId="ngModel" [(ngModel)]="userInfo.roleId" class="form-control form-control-sm" [class.is-invalid]="userInfo.roleId === undefined  &&  roleId.touched">
                        <!-- <option >Select Group</option> -->
                        <option value=1>Admin</option>
                        <option value=2>Client</option>
                      </select>
                      <div *ngIf="userInfo.roleId=== undefined && roleId.touched === true" class="invalid-feedback">
                        <div *ngIf="roleId.errors?.['required']">
                           This Role is required.
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label >Department <span class="text-danger">*</span></label>
                      <select required class="form-control show-tick form-control-sm" id="departmentId" name="departmentId" #departmentId="ngModel" [(ngModel)]="userInfo.departmentId" class="form-control form-control-sm" [class.is-invalid]="userInfo.departmentId === undefined  &&  departmentId.touched">
                        <option value=1>IT</option>
                        <option value=2>Other</option>
                      </select>
                      <div *ngIf="userInfo.departmentId=== undefined && departmentId.touched === true" class="invalid-feedback">
                        <div *ngIf="departmentId.errors?.['required']">
                          This department is required.
                        </div>

                      </div>
                    </div>
                  </div>

                </div>


                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label >User Name <span class="text-danger">*</span></label>
                      <input type="text" id="firstName" name="firstName" #firstName="ngModel" [(ngModel)]="userInfo.firstName" placeholder="Enter your first name" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="firstName.invalid && (firstName.dirty || firstName.touched)">

                      <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="invalid-feedback">
                        <div *ngIf="firstName.errors?.['required']">
                          This field is required.
                        </div>
                        <!-- <span>{{firstName.value}}, {{firstName.invalid}}</span> -->
                      </div>
                    </div>
                  </div>
                </div>


                <div class="row">
                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label >Password <span class="text-danger">*</span></label>
                      <input type="text" id="password" name="password" #password="ngModel" [(ngModel)]="userInfo.password" placeholder="Enter your first name" required minlength="5" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="password.invalid && (password.dirty || password.touched)">

                      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                        <div *ngIf="password.errors?.['required']">
                          This feild is required.
                        </div>
                        <div *ngIf="password.errors?.['minlength']">
                          This first name must have at least 5 character.
                        </div>

                        <!-- <div *ngIf="firstName.errors?.['maxlength']">
                          This first name must have at most 250 characters.
                        </div> -->

                      </div>
                    </div>
                  </div>

                  <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-group">
                      <label >Re Password<span class="text-danger">*</span></label>
                      <input type="text" id="rePassword" name="rePassword" #rePassword="ngModel" [(ngModel)]="userInfo.rePassword" placeholder="Enter your last name" required minlength="1" maxlength="250" class="form-control form-control-sm" [class.is-invalid]="rePassword.invalid && (rePassword.dirty || rePassword.touched)">
                      <div *ngIf="rePassword.invalid && (rePassword.dirty || rePassword.touched)" class="invalid-feedback">
                        <div *ngIf="rePassword.errors?.['required']">
                          This feidl is required.
                        </div>
                        <div *ngIf="rePassword.errors?.['minlength']">
                          This last name must have at least 1 character.
                        </div>
                      </div>

                      <div *ngIf="checkConfirmPassword === true">
                        Password not macth.
                      </div>

                    </div>
                  </div>

                </div>

                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group">
                      <label >Remark</label>
                      <input type="text" id="remark" name="remark" #remark="ngModel" [(ngModel)]="userInfo.remark" placeholder="Enter remark" class="form-control form-control-sm">
                    </div>
                  </div>
                  </div>

                  <div class="row">
                    <div class="col-md-12">
                          <label class="btn btn-default p-0">
                              <input #fileSource type="file" accept="image/png, image/jpeg" (change)="selectFile($event)"/>
                          </label>
                          <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()" style="margin-left: 20px;">
                            {{'common.label.uploadImage' | translate}}
                          </button>
                    </div>

                    <div *ngIf="currentFile && submitted">
                      <div
                        class="progress-bar progress-bar-info progress-bar-striped"
                        role="progressbar"
                        attr.aria-valuenow="{{ progress }}"
                        aria-valuemin="0"
                        aria-valuemax="100"
                        [ngStyle]="{ width: progress + '%' }"
                      >
                        {{ progress }}%
                      </div>
                    </div>
                    <!-- <div *ngIf="submitted && sourceId === 0">
                      <small class="text-danger">{{'video.message.imageRequired' | translate}}</small>
                    </div>

                    <div *ngIf=" !errorMsg && sourceId > 0" class="alert alert-success" role="alert">
                      {{'videoSource.message.uploadVideoSuccess' | translate}}
                    </div>

                    <div *ngIf="errorMsg" class="alert alert-danger" role="alert">{{ errorMsg }}</div> -->

                  </div>



                <div class="row">
                  <div class="col mb-2 d-grid">
                    <button type="button" class="btn btn-sm btn-primary" (click)="validateForm(formUser)">Save</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
